upstream elasticsearch {
  {{ range $server := .services_elasticsearch }}
  server {{ $server.Value }}:9200;
  {{ end }}
}

server {
  listen 80;
  location / {
      proxy_pass http://elasticsearch;
  }
}
