upstream elasticsearch {
  {{range gets "/services/elasticsearch/*"}}
  server {{$data := json .Value}}{{$data.IP}}:{{$data.HttpPort}};
  {{end}}
}

server {
  listen 9200;
  location / {
      proxy_pass http://elasticsearch;
  }
}
