upstream elasticsearch {
  {{range gets "/services/elasticsearch/*"}}
  server {{$data := json .Value}}{{$data.IP}}:{{$data.HttpPort}};
  {{end}}
}

# TODO: Move this to HAProxy
server {
  listen 9200;
  location / {
      proxy_pass http://elasticsearch;
  }
}

#
# Nginx proxy for Kibana
#
# If you use this, you'll want to point config.js at http://FQDN:8080/ instead of
# http://FQDN:9200
#
server {
  listen                *:8080 ;

  server_name           kibana.justyoyo.net;
  access_log            /var/log/nginx/kibana.myhost.org.access.log;

  location / {
    root  /usr/share/kibana3;
    index  index.html  index.htm;
  }

  location ~ ^/_aliases$ {
    proxy_pass http://elasticsearch;
    proxy_read_timeout 90;
  }
  location ~ ^/.*/_aliases$ {
    proxy_pass http://elasticsearch;
    proxy_read_timeout 90;
  }
  location ~ ^/_nodes$ {
    proxy_pass http://elasticsearch;
    proxy_read_timeout 90;
  }
  location ~ ^/.*/_search$ {
    proxy_pass http://elasticsearch;
    proxy_read_timeout 90;
  }
  location ~ ^/.*/_mapping {
    proxy_pass http://elasticsearch;
    proxy_read_timeout 90;
  }

  # Protect in some fasion
  location ~ ^/kibana-int/dashboard/.*$ {
    proxy_pass http://elasticsearch;
    proxy_read_timeout 90;
  }
  location ~ ^/kibana-int/temp.*$ {
    proxy_pass http://elasticsearch;
    proxy_read_timeout 90;
  }
}
