[Unit]
Description=elasticsearch
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=0

EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull chrisjenx/elasticsearch

ExecStart=/usr/bin/docker run --rm \
  --name %p-%i \
  -p 920%i:9200 \
  -p 930%i:9300 \
  -e HOST_IP=${COREOS_PUBLIC_IPV4} \
  chrisjenx/elasticsearch
ExecStartPost=/usr/bin/etcdctl set /services/elasticsearch/host ${COREOS_PUBLIC_IPV4}
ExecStop=-/usr/bin/docker kill %p-%i
ExecStopPost=/usr/bin/etcdctl rm /services/elasticsearch/host

[X-Fleet]
X-Conflicts=%p@*.service
