[Unit]
Description=elasticsearch
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=0

EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull chrisjenx/elasticsearch

ExecStart=/usr/bin/docker run --rm \
  --name %p-%i \
  -p 9200:9200 \
  -e HOST_IP=${COREOS_PUBLIC_IPV4} \
  chrisjenx/elasticsearch
ExecStartPost=/usr/bin/etcdctl set /elasticsearch/${COREOS_PUBLIC_IPV4} %p-%i
ExecStop=/usr/bin/docker kill %p-%i
ExecStopPost=/usr/bin/etcdctl rm /elasticsearch/host

[X-Fleet]
X-Conflicts=%p@*.service
