global
  chroot /var/lib/haproxy
  user haproxy
  group haproxy

defaults
  mode http
  timeout connect 20s
  timeout client 1m
  timeout server 2m
  timeout tunnel 5m
  timeout client-fin 30s

listen stats
  bind *:8080
  stats enable
  stats admin if TRUE
  stats uri /haproxy-stats

listen elasticsearch
  bind *:9199
  mode http
  balance roundrobin
  option httpclose
  option forwardfor
  {{range $server := .services_elasticsearch}}
  server {{Base $server.Key}} {{$server.Value}}:9200 check
  {{end}}
