global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  # daemon

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http

listen stats :8080
  stats enable
  stats uri /haproxy-stats

listen elasticsearch-HTTP-9200 :9200
  mode http
  balance roundrobin
#  server elasticsearch-1 172.17.8.102:9201 check
  {{range gets "/services/elasticsearch/*"}}{{$data := json .Value}}
  server {{base .Key}} {{$data.IP}}:{{$data.HttpPort}} check
  {{end}}

listen elasticsearch-TCP-9300 :9300
  mode    tcp
  option  tcplog
  balance roundrobin
#  server elasticsearch-1 172.17.8.102:9301 check
  {{range gets "/services/elasticsearch/*"}}{{$data := json .Value}}
  server {{base .Key}} {{$data.IP}}:{{$data.TransportPort}} check
  {{end}}
