[Unit]
Description=nginx

# Requirements
Requires=etcd.service
Requires=docker.service

# Dependency ordering
After=etcd.service
After=docker.service

[Service]
TimeoutSec=0
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill nginx
ExecStartPre=-/usr/bin/docker rm nginx
ExecStartPre=/usr/bin/docker pull chrisjenx/nginx
ExecStart=/usr/bin/docker run --rm \
  --name nginx \
  -p 80:80 \
  -p 8080:8080 \
  -p 9200:9200 \
  -e PUBLIC_IPV4=${COREOS_PUBLIC_IPV4} \
  -e PRIVATE_IPV4=${COREOS_PRIVATE_IPV4} \
  chrisjenx/nginx
ExecStop=-/usr/bin/docker stop nginx

[X-Fleet]
Global=true
#X-Conflicts=nginx.service
