input {
  tcp {
    port => 10102
    type => "mobile"
  }
  lumberjack {
    port => 10101
    ssl_certificate => "/opt/logstash/ssl/logstash-forwarder.crt"
    ssl_key => "/opt/logstash/ssl/logstash-forwarder.key"
  }
}

output {
  elasticsearch {
    cluster => "logstash"
    host => "0.0.0.0"
    protocol => "http"
    port => 9199
  }
  stdout { codec => json }
}
