[Unit]
Description=logstash

[Service]
TimeoutSec=0
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/usr/bin/docker pull chrisjenx/logstash
ExecStart=/usr/bin/docker run --rm \
  --name %p \
  -e HOST_IP=${COREOS_PUBLIC_IPV4} \
  -p 10101:10101 \
  -p 10102:10102 \
  chrisjenx/logstash
ExecStartPost=/usr/bin/etcdctl set /services/logstash/host ${COREOS_PUBLIC_IPV4}
ExecStop=/usr/bin/docker kill %p
ExecStopPost=/usr/bin/etcdctl rm --dir --recursive /services/logstash

[X-Fleet]
X-Conflicts=logstash.service
