[Unit]
Description=logstash

# Requirements
Requires=etcd.service
Requires=docker.service

# Dependency ordering
After=etcd.service
After=docker.service

[Service]
TimeoutSec=0

EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill logstash
ExecStartPre=-/usr/bin/docker rm logstash
ExecStartPre=/usr/bin/docker pull chrisjenx/logstash

ExecStartPre=/usr/bin/etcdctl set /services/logstash/host '{"IP": "${COREOS_PUBLIC_IPV4}", "LumberjackPort": 5000, "TCPPort": 5001}'
ExecStart=/usr/bin/docker run --rm \
  --name logstash \
  -e PUBLIC_IPV4=${COREOS_PUBLIC_IPV4} \
  -e PRIVATE_IPV4=${COREOS_PRIVATE_IPV4} \
  -p 5000:5000 \
  -p 5001:5001 \
  chrisjenx/logstash

ExecStop=/usr/bin/docker stop logstash
ExecStopPost=/usr/bin/etcdctl rm /services/logstash/host

[X-Fleet]
X-Conflicts=logstash.service
